[Unit]
Description = WwwRecorder record timer

[Timer]
OnBootSec = 1min
OnUnitActiveSec = 5min
Unit = WwwRecorder-record.service

[Install]
WantedBy = timers.target
