[Unit]
Description = WwwRecorder getPrograms timer

[Timer]
OnCalendar = *-*-* 00,12:15:00
AccuracySec = 1m
Unit = WwwRecorder-getPrograms.service

[Install]
WantedBy = timers.target
