[Unit]
Description = WwwRecorder getPrograms daemon
After = network-online.target

[Service]
Type = oneshot
ExecStart = /var/www/WWW-Recorder/share/service/getPrograms.pl
#User = apache
#Group = apache

[Install]
WantedBy = multi-user.target
