<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit Program - WWW-Recorder</title>
  <link rel="stylesheet" type="text/css" media="screen" href="WwwRecorder.css" />
  <script type="module" src="./editProgram.js"></script>
</head>

<body>
  <h1>edit Program</h1>
  [% IF info %]
  <div>
    <pre>[% info %]</pre>
  </div>
  [% END %]
  <div>
    <form id="formEditProgram" name="formEditProgram" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="Command" value="Update">
      <fieldset>
        <legend>Provider</legend>
        <select id="selectProvider" name="Provider">
          [% FOREACH prov IN providers %]
          <option [% IF prov==provider %]selected[% END %]>[% prov %]</option>
          [% END %]
        </select>
      </fieldset>
      <fieldset>
        <legend>ID / <button id="buttonEraseId" type="button">Erase</button> to create new program</legend>
        <input id="inputID" name="ID" type="text" class="width100" value="[% program.ID %]">
      </fieldset>
      <fieldset>
        <legend>Extra / <button id="buttonEraseExtra" type="button">Erase</button></legend>
        <textarea id="textareaExtra" name="Extra" class="width100" rows="5">[% extra %]</textarea>
      </fieldset>
      <fieldset>
        <legend>Start / End</legend>
        <input id="inputStartDate" name="StartDate" type="date" value="[% program.StartDate %]">
        <input id="inputStartTime" name="StartTime" type="time" value="[% program.StartTime %]">
        /
        <input id="inputEndDate" name="EndDate" type="date" value="[% program.EndDate %]">
        <input id="inputEndTime" name="EndTime" type="time" value="[% program.EndTime %]">
      </fieldset>
      <fieldset>
        <legend><button id="buttonEraseProperties" type="button">Erase</button></legend>
        <fieldset>
          <legend>Title</legend>
          <textarea id="textareaTitle" name="Title" class="width100" rows="5">[% program.Title %]</textarea>
        </fieldset>
        <fieldset>
          <legend>Description</legend>
          <textarea id="textareaDescription" name="Description" class="width100"
            rows="5">[% program.Description %]</textarea>
        </fieldset>
        <fieldset>
          <legend>Info</legend>
          <textarea id="textareaInfo" name="Info" class="width100" rows="5">[% program.Info %]</textarea>
        </fieldset>
        <fieldset>
          <legend>Performer</legend>
          <textarea id="textareaPerformer" name="Performer" class="width100" rows="5">[% program.Performer %]</textarea>
        </fieldset>
        <fieldset>
          <legend>Keyword</legend>
          <input id="inputKeyword" name="Keyword" type="text" class="width100" value="[% program.Keyword %]">
        </fieldset>
        <fieldset>
          <legend>Uri</legend>
          <input id="inputUri" name="Uri" type="text" class="width100" value="[% program.Uri %]">
        </fieldset>
      </fieldset>
      <fieldset>
        <legend>Status</legend>
        <select id="selectStatus" name="Status">
          [% FOREACH status IN statuses %]
          <option [% IF status==program.Status %]selected[% END %]>[% status %]</option>
          [% END %]
        </select>
      </fieldset>
      <input type="submit">
    </form>
  </div>
</body>

</html>