<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[% title %]</title>
  <link rel="stylesheet" type="text/css" media="screen" href="NetRecorder.css" />
  <script src="NetRecorder.js"></script>
</head>

<body onload="init()">
  <h1><a href="./" name="top">[% title %]</a></h1>
  [% IF info %]
  <div>
    <pre>[% info %]</pre>
  </div>
  [% END %]
  <div id="panelQueue">
    <form id="formQueue" name="formQueue" method="POST" action="./" enctype="multipart/form-data">
      <input id="Command" type="hidden" name="Command" value="Show">
      <input id="Provider" type="hidden" name="Provider" value="[% provider %]">
      <input id="SortBy" name="SortBy" type="hidden" value="Status">
      <table class="sticky_table" border="1">
        <thead>
          <tr>
            <th> </th>
            <th>#</th>
            <th>Start</th>
            <th>Title</th>
            <th>Keyword</th>
            <th>Status</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          [% FOREACH program IN programs %]
          <tr class="[% program.Class %] tr_hover" onclick="toggleCheckbox(this)">
            <td>
              <input type="checkbox" name="ProgramId" value="[% program.ID %]" onclick="event.stopPropagation();">
            </td>
            <td class="alignCenter">[% program.index %]</td>
            <td class="alignCenter"><span title="[% program.StartShort %] - [% program.EndShort %]">[%
                program.StartShort %]</span></td>
            <td class="ProgramTitle">
              <a href="[% program.Uri %]" target="_blank" onclick="event.stopPropagation();">[% program.Title %]</a>
              <div class="ProgramDesc" onclick="event.stopPropagation();">[% program.Desc %]</div>
            </td>
            <td>[% program.Keyword %]</td>
            <td class="alignCenter">[% program.Status %]</td>
            <td>[% program.UpdateShort %]</td>
          </tr>
          [% END %]
        </tbody>
      </table>
    </form>
  </div>
  <div class="HeaderArea">
    <div id="Menu" class="MenuPart">
      <select id="selectMenu" onchange="changeMenu()">
        <option value="-" selected>Menu</option>
        <option value="Add">Add</option>
        <option value="Sort">Sort</option>
        <option value="Abort">Abort</option>
        <option value="Remove">Remove</option>
        <option value="Provider">Provider</option>
      </select>
    </div>
    <div class="MenuPart">
      <div id="Menu_Add" class="MenuArea">
        <form id="formNewPrograms" name="formNewPrograms" method="POST" action="./" enctype="multipart/form-data">
          <input type="submit" name="Command" value="Add"><br>
          <textarea name="ProgramUris" rows="5" cols="80"></textarea>
        </form>
      </div>
      <div id="Menu_Sort" class="MenuArea">
        <button onclick="sortBy('Status')">By Status</button>
        <button onclick="sortBy('Title')">By Title</button>
        <button onclick="sortBy('Update')">By Update</button>
      </div>
      <div id="Menu_Abort" class="MenuArea">
        <button onclick="abort()">Abort</button>
      </div>
      <div id="Menu_Remove" class="MenuArea">
        <button onclick="remove()">Remove</button>
      </div>
      <div id="Menu_Provider" class="MenuArea">
        <form id="formProvider" name="formProvider" method="POST" action="./" enctype="multipart/form-data">
          <select id="selectProvider" name="Provider">
            [% FOREACH prov IN providers %]
            <option [% prov.selected %]>[% prov.name %]</option>
            [% END %]
          </select>
          <input type="submit" name="Command" value="Change">
        </form>
      </div>
    </div>
  </div>
  <a name="Bottom"></a>
  <script onload="javascript: twemoji.parse(document.body);" src="//twemoji.maxcdn.com/twemoji.min.js"
    type="text/javascript"></script>
  <script src="NetRecorder.js" type="text/javascript"></script>
</body>

</html>